.catalogoId-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    z-index: 10;
    backdrop-filter: blur(5px);

   
}

.catalogoId-container-receta {
    gap: 20px;
    animation-duration: 0.6;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    direction: unset;
    animation-fill-mode: both;
    z-index: 10;

    
}

.catalogoId-container-receta h2{
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.catalogoId-container-receta figure{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

img{
    animation: fadeIn 5s ease;
    mask-image: linear-gradient(var(--txt-body) 80%, transparent);
    

    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }

    to {
        opacity: 1; 
        scale: 100%;
    }
}